@model _404ViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">404 Error</h1>

@if (Model != null)
{
    <p>
        <strong>Status code:</strong> <code>@Model.StatusCode</code>
    </p>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freeiconspng.com%2Fimg%2F25252&psig=AOvVaw2Ynm6oi8hk14k8R4KUsoKI&ust=1611878795183000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIj38c2qve4CFQAAAAAdAAAAABAE">
    <p>
        <strong>Něco špatného se stalo. Zkuste to za chvíli znovu.</strong>
    </p>
}



