@model Product
@{
    ViewData["Title"] = "Product Creation";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Create new product item.</p>
<br />

@{ViewBag.Action = "Create"; }

@await Html.PartialAsync("EditForm", Model)